/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/
# !composer.json
# !composer.lock
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/public/assets
/public/css
/public/images
/public/js/app.js
/public/files
/public/storage/app
/public/mix-manifest.json

public/assets
public/js
public/css
public/images
public/files
public/mix-manifest.json
public/storage
public/storage/app
